<div class="row">
  <div class="span3">
      <h1>
        {{name}}
      </h1>
      <div class="row">
        <div class="span1" style="text-align:center;">
          <div style="margin-bottom:0.2em;"><a class="btn" href="{{party_url}}">{{party_name}}</a></div>
          <img src="{{img_url}}" alt="התמונה של {{name}} מאתר הכנסת"/>
        </div>
        <div class="span2">
          <dl class="dl-horizontal" style="margin-top:0;">
            <dt>מגורים</dt>
            <dd>{{place_of_residence}}</dd>
            <dt>תאריך לידה</dt>
            <dd>{{date_of_birth}}</dd>
            <dt>מספר ילדים</dt>
            <dd>{{number_of_children}}</dd>
          </dl>
        </div>
      </div>
      <dl class="dl-horizontal" style="margin-top:0;">
        <dt>טלפון</dt>
        <dd>{{phone}}</dd>
        <dt>פקס</dt>
        <dd>{{fax}}</dd>
      </dl>
      <p>{{current_role_description}}</p>
    <ul class="nav nav-list">
      <li class="nav-header">קישורים</li>
      <li><a href="mailto:{{email}}">דואל</a></li>
      {{#links}}
        <li><a href="{{url}}">{{title}}</a></li>
      {{/links}}
    </ul>
   </div>
  <div class="span9">
      <div id="agendas-tab" class="tab-pane active">
        <table class="table table-striped">
          <thead>
            <tr>
              <th style="vertical-align: top;"></th>
              <th class="score-bar">
                <!-- scale -->
                <div style="clear:both;width:100%">
                  <h4 style="float:right; width: 33%; margin: 0 0.2em 0.2em 0;text-align:right;">בעד</h4>
                  <h4 style="float:right; width: 33%; text-align: center; margin-bottom:0.2em;">אדיש</h4>
                  <h4 style="float:right; width: 33%; margin-bottom:0.2em;text-align:left;">נגד</h4>
                  <div style="clear:right;"></div>
                </div>
              </th>
          </thead>
          <tbody id="agendas">
            <tr>
              <td colspan="2">טוען...</td>
            </tr>
          </tbody>
        </table>
        <!-- Next few lines are the template used to display the bars -->
        {{=<% %>=}}<script type="text/html" id="agenda-template">
          {{#agendas}}
          <tr>
            <td>
              <a href="{{absolute_url}}">{{name}}</a>
              מאת: {{owner}}
            </td>
            <td class="score-bar">
                <div class="progress">
                  <div id="agenda-bar-{{id}}" class="bar all" title="טוח כל חברי הכנסת"></div>
                  <div id="agenda-bar-party-{{id}}" class="bar party"
                       style="opacity:1;" title="נציגי {{party_name}}"></div>
                  <div id="agenda-score-{{id}}" class="score" title="{{member_name}}"></div>
                </div>
            </td>
          </tr>
          {{/agendas}}
        </script><%={{ }}=%>
    </div>
  </div>
</div>

<script>
      function init () {
          require(['apps/member'], function (app) {
            app.agendas({uri: "{{agendas_uri}}", 
                member_name: "{{name}}",
                party_name: "{{party_name}}"
            });
          });
      }
</script>
